\\[SECTION] Favourites
niko - night of fire (christmas mix)
dave rogers - all i want for christmas is you
\\[SECTION] Funny Songs
der bodo mit dem Bagger
Aldi Bier am Baggersee
\\[SECTION] Techno
Summertime Sadness TEKKNO
UNIVERSE TEKK MANE